<h2>Add a comment to. . .</h2>

<%= form_for [@post, @comment] do |f| %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :text %>
  <%= f.text_field :text %>
</p>

  <%= f.submit %>

<% end %>
